<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "--mybatismapper--" "mybatis-3-mapper.dtd" >
<mapper namespace="com.java.smart.mybatis.mapper.LoginMapper">

    <resultMap  id="userResultMap" type="com.java.smart.mybatis.model.User">
        <id property="id" column="USER_ID" />
        <result property="name" column="USER_NAME" />
        <result property="phone" column="PHONE" />
        <result property="password" column="PASS_WORD" />
        <result property="token" column="TOKEN" />
        <result property="isDelete" column="IS_DELETE" />
        <result property="permissions" column="PERMISSIONS" />
    </resultMap>

    <!-- 根据用户id查询用户信息 -->
    <select id="login" parameterType="java.lang.String" resultMap="userResultMap">
        SELECT * FROM SMART_USER WHERE USER_ID = #{id} AND PASS_WORD = #{password}
    </select>

</mapper>
